@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300i,600|IBM+Plex+Sans:400,600&display=swap');

:root {
	--dark-color: #124;
	--light-color: #eeeeee;
	--mark-color: #fc3;

	font-size: .875rem;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: inherit;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto min-content;
	height: 100%;

	color: var(--fg-color);
	background: var(--bg-color);
}

nav {
	display: flex;
	align-items: baseline;
}

h1 {
	grid-area: title;
	padding: 1.6rem 0 1rem 0;
	border-top: 4px solid var(--fg-color);
	font-size: 2.6rem;
	font-weight: 600;
	line-height: 1.4;
}

h2 {
	padding: .6rem 0 1.6rem 0;
	font-size: 1.6rem;
	font-weight: 600;
}

h3 {
	padding: 1rem 0;
	font-weight: 600;
}

[data-content="chart"] h3 {
	text-align: center;
}

p {
	margin-bottom: .6rem;
}

ul {
	margin: 0 0 0 1rem;
}

li {
	margin-bottom: .6rem;
}

b {
	font-weight: 600;
}

span {
	font-size: inherit;
}

button {
	padding: .4rem .6rem;
	color: var(--light-color);
	background-color: var(--dark-color);
	font-weight: 600;
	border: none;
	line-height: 1.6;
}

nav button {
	margin: 0 .6rem 0 0;
	cursor: pointer;
	color: var(--fg-color);
	background-color: var(--bg-color);
	border-top: 2px solid var(--fg-color);
	border-left: 2px solid var(--fg-color);
	border-right: 2px solid var(--fg-color);
}

nav button.is-active {
	color: var(--bg-color);
	background-color: var(--fg-color);
	border-color: transparent;
}

label {
	display: inline-block;
	font-weight: 600;
	padding: .6rem 0;
	margin: 0 .6rem 0 0;
}

select, input {
	margin: 0 .6rem 0 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 2px solid var(--fg-color);
}

tbody {
	border-top: 1px solid var(--fg-color);
	border-bottom: 1px solid var(--fg-color);
}

tr:hover {
	background-color: var(--mark-color);
}

th,
td {
	text-align: right;
	padding: .3rem 1rem .3rem 0;
}

th {
	font-weight: 600;
}

td {
	white-space: nowrap;
}

th:first-child,
td:first-child {
	text-align: left;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}

rect {
	stroke: none;
	fill: var(--fg-color);
}

text {
	font-size: .75rem;
	fill: var(--fg-color);
}

.overflow-container {
	overflow: auto;
}

.layout {
	display: grid;
	grid-template-areas: ". . ."
	". title ."
	". nav ."
	". main ."
	". . .";
	grid-template-rows: 1.6rem min-content min-content auto 1fr;
	grid-template-columns: 1fr minmax(min-content, calc(768px - 2rem)) 1fr;
	padding: 1rem;
}

.layout__title {
	grid-area: title;
	align-self: end;
}

.layout__nav {
	grid-area: nav;
}

.layout__main {
	display: grid;
	grid-template-rows: min-content min-content 1.5rem;
	grid-area: main;
	border-top: 2px solid var(--fg-color);
}

.disclaimer-container {
	position: relative;
}

.disclaimer {
	position: relative;
	padding: .6rem;
	margin: -.6rem 0 .6rem -.6rem;
	font-weight: 300;
	color: var(--dark-color);
	background-color: var(--mark-color);
	width: 100%;
}

.disclaimer:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 2.6rem;
	border-right: .36rem solid transparent;
	border-left: .36rem solid transparent;
	border-top: .36rem solid var(--mark-color);
}

.legend-container {
	position: absolute;
	top: 100%;
	right: 0;
}

.legend {
	position: relative;
	padding: .4rem 0 0 0;
	text-align: right;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-size: .75rem;
}

.legend:after {
	content: '';
	position: absolute;
	top: 0;
	right: 19ch;
	border-right: .36rem solid transparent;
	border-left: .36rem solid transparent;
	border-top: .36rem solid var(--fg-color);
}

.navigation__item {
	margin-right: .6rem;
}

.line {
	border-top: 2px solid var(--fg-color);
}

.cta {
	background-color: var(--mark-color);
}

.dark-theme {
	--fg-color: var(--light-color);
	--bg-color: var(--dark-color);
}

.light-theme {
	--fg-color: var(--dark-color);
	--bg-color: var(--light-color);
}

[data-year-selection] {
	min-width: 8ch;
}

[role='navigation'] {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: .6rem 0 .6rem .6rem;
	background-color: var(--fg-color);
	color: var(--bg-color);
}

.validated,
[data-type='validated'] {
	font-weight: 600;
	font-family: 'IBM Plex Mono', monospace;
}

.unvalidated,
[data-type='unvalidated'] {
	font-style: italic;
	font-weight: 300;
	opacity: .7;
	font-family: 'IBM Plex Mono', monospace;
}

[data-type='unvalidated']:before {
	font-size: .75rem;
	display: inline-block;
	content: '*';
	transform: translateY(-.4rem);
}

[hidden] {
	display: none;
	visibility: hidden;
}

@media (min-width: 48rem) {
	:root {
		font-size: 1rem;
	}

	text {
		font-size: .6rem;
	}
}