@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300i,600|IBM+Plex+Sans:200,500&display=swap');

:root {
	--dark-color: #000;
	--light-color: #fff;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: normal;
}

html, body {
	height: 100%;

	--fg-color: var(--light-color);
	--bg-color: var(--dark-color);
}

body {
	display: grid;
	gap: 1.6rem;
	grid-template-rows: min-content 1fr;

	color: var(--fg-color);
	background: var(--bg-color);
}

h1 {
	font-size: 1.6rem;
	font-weight: 500;
}

table {
	border-collapse: collapse;
	margin-right: 1rem;
}

th,
td {
	text-align: right;
	width: 10ch;
	padding: .3rem .6rem .3rem 0;
}

td {
	font-family: 'IBM Plex Mono', monospace;
}

thead th {
	border-bottom: 2px solid var(--fg-color);
}

th:first-child,
td:first-child {
	text-align: left;
}

main {
	padding: .6rem;
}

span {
	font-size: inherit;
}

.layout {
	display: grid;
	grid-template-rows: 1fr min-content 2.62rem auto 1fr;
	grid-template-columns: 1fr max-content 1fr;
}

.layout__title {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.layout__table {
	grid-row: 4 / 5;
	grid-column: 2 / 3;
}

.table-container {
	overflow: auto;
}

.line--fat {
	padding-top: .6rem;
	border-top: 3px solid var(--fg-color);
}

[role='navigation'] {
	display: flex;
	align-items: center;
	padding: .6rem;
	background-color: var(--fg-color);
	color: var(--bg-color);
}

[role='navigation'] * {
	margin-right: .6rem;
}

[data-type='validated'] {
	font-weight: 600;
}

[data-type='unvalidated'] {
	font-style: italic;
	font-weight: 300;
	opacity: .6;
}

[data-type='unvalidated']:before {
	font-size: .75rem;
	display: inline-block;
	content: '*';
	transform: translateY(-.4rem);
}