@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300i,600|IBM+Plex+Sans:300,600&display=swap');

:root {
	--dark-color: #222;
	--light-color: #fff;
	--mark-color: #fb3;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: inherit;
}

html, body {
	height: 100%;

	--fg-color: var(--dark-color);
	--bg-color: var(--light-color);
}

body {
	display: grid;
	grid-template-rows: min-content 1fr;

	color: var(--fg-color);
	background: var(--bg-color);
}

h1 {
	grid-area: title;
	font-size: 2.6rem;
	font-weight: 600;
}

table {
	border-collapse: collapse;
	border-top: 2px solid var(--fg-color);
	border-bottom: 2px solid var(--fg-color);
}

tbody {
	border-top: 1px solid var(--fg-color);
	border-bottom: 1px solid var(--fg-color);
}

th,
td {
	text-align: right;
	padding: .3rem .6rem .3rem 0;
}

th {
	font-weight: 300;
}

td {
	width: 11ch;
	white-space: nowrap;
}

th:first-child,
td:first-child {
	text-align: left;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

span {
	font-size: inherit;
}

.overflow-container {
	overflow: auto;
}

.layout {
	display: grid;
	gap: 1.62rem;
	grid-template-areas: ". . ."
	". title ."
	". table ."
	". . .";
		grid-template-rows: 1fr min-content auto 1fr;
		grid-template-columns: 1fr auto 1fr;
}

.layout__title {
	grid-area: title;
	align-self: end;
}

.layout__table {
	display: grid;
	grid-template-rows: auto 1.5rem;
	grid-area: table;
}

.disclaimer-container {
	position: relative;
}

.disclaimer {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0;
	padding: .6rem;
	font-weight: 300;
	color: var(--fg-color);
	background-color: var(--mark-color);
}

.disclaimer:before {
	float: left;
	content: '!';
	font-weight: 600;
	font-size: 1.75rem;
	width: 2.25rem;
	height: 2.25rem;
	border: 2px solid var(--fg-color);
	text-align: center;
	margin-right: .6rem;
	margin-bottom: .6rem;
	margin-left: 0;
	border-radius: 50%;
}

.disclaimer:after {
	position: absolute;
	content: '';
	bottom: 100%;
	left: 12.6rem;
	border-right: .36rem solid transparent;
	border-left: .36rem solid transparent;
	border-bottom: .36rem solid var(--mark-color);
}

.legend-container {
	position: absolute;
	top: 100%;
	right: 0;
}

.legend {
	position: relative;
	padding: .4rem 0 0 0;
	text-align: right;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-size: .75rem;
}

.legend:after {
	content: '';
	position: absolute;
	top: 0;
	right: 22ch;
	border-right: .36rem solid transparent;
	border-left: .36rem solid transparent;
	border-top: .36rem solid var(--fg-color);
}

.navigation__item {
	margin-right: .6rem;
}

[role='navigation'] {
	display: flex;
	align-items: center;
	padding: .6rem;
	background-color: var(--fg-color);
	color: var(--bg-color);
}

.validated,
[data-type='validated'] {
	font-weight: 600;
	font-family: 'IBM Plex Mono', monospace;
}

.unvalidated,
[data-type='unvalidated'] {
	font-style: italic;
	font-weight: 300;
	opacity: .6;
	font-family: 'IBM Plex Mono', monospace;
}

[data-type='unvalidated']:before {
	font-size: .75rem;
	display: inline-block;
	content: '*';
	transform: translateY(-.4rem);
}